@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

:root {
  --bg: #262624;
  --display: 'Space Grotesk', sans-serif;
  --body: 'Space Grotesk', sans-serif;

  font-family: var(--body);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #f2f1ec;
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
  background: var(--bg);
}

#root {
  min-height: 100svh;
}
